<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> **Finanzas Cuantitativas | Verano 2021**. 

**Nombres:** 
- Juan Pablo Ruíz.
- Rubén Hernández.
- Bryan Juárez.

**Fecha:** 03 de junio del 2021.
    
<img style="float: right; margin: 30px 15px 15px 15px;" src="https://www.monash.edu/__data/assets/image/0004/1017517/iStock-611890326-OK3.jpg" width="300" height="500" />

**Expedientes** : 
- 721093.
- 717710.
- 722176.

**Profesor:** José Mario Zárate.  

## Tarea 4.

In [1]:
import pandas as pd
import numpy as np

## `4.1`
La siguiente tabla enumera los diferentes flujos de efectivo que la administración cree que un proyecto podría obtener en el quinto año de su vida. También se enumera en la tabla la estimación de la administración de la probabilidad asociada con cada uno de los posibles flujos de efectivo alternativos que el proyecto podría generar en ese año.

In [2]:
table = pd.DataFrame(data={'Cash Flow': [20, 17.5, 15, 12.5, 10, 7.5, 5, 2.5, 0],
                           'Probability': [0.04, 0.06, 0.12, 0.18, 0.20, 0.18, 0.12, 0.06, 0.04]})
table

   Cash Flow  Probability
0       20.0         0.04
1       17.5         0.06
2       15.0         0.12
3       12.5         0.18
4       10.0         0.20
5        7.5         0.18
6        5.0         0.12
7        2.5         0.06
8        0.0         0.04

### `(a)`
Cuál es el flujo esperado en el año 5?

In [8]:
table['EV'] = (table['Cash Flow'].values)*(table['Probability'].values)

In [9]:
table

   Cash Flow  Probability    EV
0       20.0         0.04  0.80
1       17.5         0.06  1.05
2       15.0         0.12  1.80
3       12.5         0.18  2.25
4       10.0         0.20  2.00
5        7.5         0.18  1.35
6        5.0         0.12  0.60
7        2.5         0.06  0.15
8        0.0         0.04  0.00

In [10]:
exp_flow1 = np.dot(table['Cash Flow'], table['Probability'])
exp_flow2 = np.sum(table['EV'])
exp_flow, exp_flow2

(10.0, 10.0)

### `(b)`
Cada uno de los posibles flujos es diferente del flujo esperado. Si elevamos al cuadrado cada una de las diferencias del flujo esperado y calculamos la probabilidad ponderada media de estas diferencias cuadráticas, obtenemos la varianza del flujo. Calcula la varianza del flujo del año 5.

In [11]:
table["SQ Diff"] = ((table['Cash Flow'].values)-exp_flow)**2

In [13]:
table["PPM"] = (table['SQ Diff'].values*table['Probability'].values)

In [14]:
table

   Cash Flow  Probability    EV  SQ Diff    PPM
0       20.0         0.04  0.80   100.00  4.000
1       17.5         0.06  1.05    56.25  3.375
2       15.0         0.12  1.80    25.00  3.000
3       12.5         0.18  2.25     6.25  1.125
4       10.0         0.20  2.00     0.00  0.000
5        7.5         0.18  1.35     6.25  1.125
6        5.0         0.12  0.60    25.00  3.000
7        2.5         0.06  0.15    56.25  3.375
8        0.0         0.04  0.00   100.00  4.000

In [51]:
var1 = np.sum(table['PPM'])
var2 = np.dot(table['SQ Diff'], table['Probability'])
var1, var2

(23.0, 23.0)

`Fuente consultada`:

[Peterson, P., (2007). Measuring Risk. pp, 4-5.](http://educ.jmu.edu/~drakepp/principles/module5/riskreturn_measure.pdf)

### `(c)`
La desviación estándar es la raíz cuadrada de la varianza. Calcule la desviación estándar del flujo de efectivo del año 5.

In [53]:
std = np.sqrt(var1)
std

4.795831523312719

## `4.2`

El producto **XTRON** requiere una inversión de **1 Millón** en un tiempo de un año si la administración decide lanzar el producto. El patrocinador del proyecto cree que el **NPV** será de **200,000**, pero hay una probabilidad de 20% de que el NPV sea de **-100,000**. ¿Cuánto valor puede esperar la administración que agregue esta inversión para los accionistas en ese momento?

- Para poder conocer el valor esperado del **NPV**, al nosotros conocer la probabilidad de ocurrencia de cada evento, lo podemos definir como la suma ponderada de los eventos con la siguiente fórmula.
> $$\text{E}[X] = \sum_{i=1}^{n} P_{i} \dot\ X_{i}$$
- Traduciendolo a términos numéricos del problema conocemos que
> - **NPV** de $\$200,000$ con una probabilidad de $80\%$.
> - **NPV** de $-\$100,000$ con una probabilidad de $20\%$.

- Por lo tanto, tenemos que el valor esperado del **NPV** se define como. 
> $$\text{E}[\text{NPV}] = (0.8)*\$200,000 - (0.2)*\$100,000  $$
- Resolviendo numéricamente, obtenemos que.
> $$\therefore \text{E}[\text{NPV}] = \$140,000 $$

In [7]:
### Resolvemos numéricamente el problema.
expected_npv = 0.8*200000 - 0.2*100000
print(f'El valor esperado del valor presente neto del proyecto es de: {int(expected_npv)}')

El valor esperado del valor presente neto del proyecto es de: 140000

## `4.3`

La empresa **A** le gustaría comprar la empresa **B** y necesita saber cuánto debería estar dispuesta a pagar. La empresa A tiene usos potenciales para los activos de la empresa B que harían que el activo valiera **20 millones para la empresa A**. El valor actual de la **deuda de la empresa B es de 15 millones**. **El número de acciones emitidas en B es de 5 millones.**

**¿Cuánto es lo máximo que la empresa A debería estar dispuesta a pagar por acción de la empresa B?**

Tip: utilice el enfoque de finanzas corporativas de la clase 2.

<li>Asumiendo que la empresa A ya multiplico por un factor de proyección los Activos de la Empresa B</li>

>Aplicamos la ecuación contable:
<br>

<li> A: Activo</li>
<li> L: Pasivo</li>
<li> E: Capital</li>

$${A - L = E}$$
<br>
$${20,000,000 - 15,000,000 = 5,000,000}$$
<br>
**Precio por acción:**
<br>
$${E = P * Q}$$
<br>
$${5,000,000 = P * 5,000,000}$$
<br>
**El precio justo al que la empresa A debería comprar las acciones de la empresa B es de 1 USD por acción:**
<br>
$${P = 1}$$